<div id="conjunto" class="container-fluid justify-content-end btn-group">
    <ul id="redes1">
        <li>
            <a href="https://github.com/wilpfinn" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
            </a> 
        </li>
        <li>          
            <a href="https://www.linkedin.com/in/william-finnemore-8406a9251/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>        
        </li>
        <li>
            <a routerLink="/login"><i class="bi bi-person"></i></a>   
        </li>
    </ul>
    <!--<div class="row" >   data-bs-toggle="modal" data-bs-target="#modalLogin"
        <div class="modal fade" id="modalLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Inicio de sesion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Usuario</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control">
                        <div class="text">Distinga mayusculas de minusculas</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Ingresar</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> -->