<div id="estudios" class="row">
    <h2 id="untitulo">Estudios</h2>
   
    
    <div *ngFor="let estudio of estudios">
        <div class="row">
            <div class="col-4">
                <img src="{{estudio.imagen}}">
            </div>        
            <div class="col-7">
                <ul>
                    <li>
                        <h3>{{estudio.actividad}}</h3><h5>{{estudio.anio}}</h5>
                    </li>
                    <p>{{estudio.lugar}}</p>
                </ul>
            </div>
        </div>
    </div>        
</div>    