<div id="estudios">
    <h3 id="untitulo">Estudios</h3>
    <!-- Estudio 1 -->
    <div class="row">       
        <div class="col-3">
            <img src="assets/imagenprueba.jpg">
        </div>
        
        <div class="col-8">
            <ul>
                <li>
                    <p></p><h3>Estudio</h3><h5>año</h5>
                </li>
                <p>Lugar</p>
            </ul>
        </div>
    </div>    
        <!-- Estudio 2 -->
    <div class="row">
        <div class="col-3">
            <img src="assets/imagenprueba.jpg">
        </div>    
        
        <div class="col-8">
            <ul>
                <li>
                    <p></p><h3>Estudio</h3><h5>año</h5>
                </li>
                <p>Lugar</p>
            </ul>
        </div>
    </div>    
        <!-- Estudio 3 -->
    <div class="row">
        <div class="col-3">
            <img src="assets/imagenprueba.jpg">
        </div>        
        <div class="col-8">
            <ul>
                <li>
                    <p></p><h3>Estudio</h3><h5>año</h5>
                </li>
                <p>Lugar</p>
            </ul>
        </div>



    </div>
</div>