<div>
    <img src="assets/banner.jpg" id="banner" alt="banner" style="width: 100%;
    height: 55%; margin: 0;">
</div>
<div class="row">   
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <img id="fotoperfil" src="assets/profile.jpg" class="rounded-pill" alt="foto perfil">    
        </div>
        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
            <h2 id="nombre">William Peter Finnemore</h2>
            <h4>-Tecnico universitario en Mantenimiento Industrial e instalaciones</h4>
            <h4>-Front End Developer</h4>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img id="img1" src="assets/itu.png" class="img-fluid" alt="ITU">
            <img id="img2" src="assets/argprog.png" class="img-fluid" alt="Arg programa">
        </div>
        
    </div>
    <div class="col-12">
        <span id="acercademitext">
            <h2>Acerca de mi..</h2>
            <p>{{acercaDe}}</p>
        </span>

    </div>
</div> 
