<div id="experiencia" class="row">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <h2 id="titulo">Experiencia laboral</h2>    
        </div>
            <!-- Button modal -->            
        <div class="col-2" >
            <button type="button" class="btn justify-content-end" data-bs-toggle="modal" data-bs-target="#modalExperiencia"><img src="assets/iconoMas.png" class="icon"></button>     
        </div>
            <!-- Modal -->
        <div class="modal fade" id="modalExperiencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Agregar experiencia laboral</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Relleno del modal -->
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Trabajo</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Nombre de trabajo o funcion</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Tiempo transcurrido</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Tiempo dedicado (ej. 2018-2021)</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Resumen</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Pequeña descripcion de funcion cumplida</div>
                    </div>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            </div>
        </div>  
            <!--  Trabajos  
            trabajo: string, tiempoTranscurrido: string, resumen: string, urlImgExperiencia: string
            -->

        <div class="row" *ngFor="let expe of experiencias">
            <div class="col-3">
                <img class="imagen" [src]="expe.urlImgExperiencia">

            </div>
            <div class="col-7">
                <ul>
                    <li>
                        <h3>{{expe.trabajo}}</h3><h5>{{expe.tiempoTranscurrido}}</h5>
                    </li>
                    <p>{{expe.resumen}}</p>
                </ul>

            </div> 
            <div class="col-2">
                <button type="button" class="btn justify-content-end"><i class="bi bi-pencil"></i>
                </button><button type="button" class="btn justify-content-end"><i class="bi bi-trash"></i></button>

            </div>
        </div>
    </div>
</div>