<div id="experiencia" class="row">
    <div class="row">
        <h2 id="titulo">Experiencia laboral</h2>
        <!--  Trabajos  -->
        <div class="row" *ngFor="let trabaj of trabajos">
            <div class="col-2">
                <img src="assets/imagenprueba.jpg">
            </div>
            <div class="col-xs-8">
            <ul>
                <li>
                    <h3>{{trabaj.trabajo}}</h3><h5>{{trabaj.tiempo}}</h5>
                </li>
                <p>{{trabaj.resumen}}</p>

            </ul>
            </div>
        </div>
    </div>
</div>