#titulo {
    text-align: center;
    margin-top: 10px;
}

#experiencia {
    background-color: aquamarine;
}
img{
    height: 100px;
    width: 100px;
    margin: 10px;
    margin-left: 30px;
    
}
#experiencia{
    padding: 15px;
}