div{
    background-color: aquamarine;
    text-align: center;
    
   
}
img{
    height: 175px;
    position:relative;
    top: 30px;
    padding: 10px;
    
    
}
.row{
    padding: 20px;
}
#titulooo{
    padding-top: 10px;
}
